@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
:root{
    --grenn:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2)!important;
}
body{
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: var(--poppins-fonts);
}
img{
    width: 100%;
    display: block;
}
.sub-heading{
    text-align: center;
    color: var(--grenn);
    font-size: 2rem;
    padding-top: 1rem;
}
.heading{
    text-align: center;
    color: var(--black);
    font-size: 4rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}
html{
    font-size: 10px;
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
}
section{
    padding: 2rem 9%;
}
section:nth-child(even){
    background-color: #eee;
}
h1,h2,h3{
    text-transform: capitalize;
    margin-top: 0;
    line-height: 1.3;
}
ul{
    list-style: none;
}
.btn{
    display: inline-block;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    color: #fff;
    background-color: var(--black);
    border-radius: 5px;
    padding: .8rem 3rem;
    font-size: 1.7rem;
}
.btn:hover{
    background-color: var(--grenn);
    letter-spacing: .1rem;
}
header{
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    padding: 2rem;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
}
header .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}
header .logo i{
    color: var(--grenn);
}
header .navbar a{
    margin-left: 1rem;
    font-size: 1.7rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
    border-radius: .5rem;
    user-select: none;
}
header .navbar a.active{
background-color: var(--grenn);
color: #fff;
}
header .navbar a:hover{
    color: #fff;
    background-color: var(--grenn);
}
header .icons a,
header .icons i{
    cursor: pointer;
    margin-left: .5rem;
    background-color: #eee;
    font-size: 1.7rem;
    text-align: center;
    line-height: 4.5rem;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
}
header .icons a:hover,
header .icons i:hover{
    color: #fff;
    background-color: var(--grenn);
    transform: rotate(360deg);
}
header .icons #bars{
    display: none;
}
#searh-from{
    position: fixed;
    z-index: 1004;
    width: 100%;
    height: 100%;
    top: -110%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
#searh-from.active{
    top: 0;
}
#searh-from #searh-box{
    width: 50rem;
    padding: 1rem 0;
    border-bottom:.1rem solid #fff ;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}
#searh-from #searh-box::placeholder{
    color: #eee;
}
#searh-from #searh-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
#searh-from label{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    padding: 1rem;
}
#searh-from label:hover{
    color: var(--grenn);
}
#searh-from #close{
    position: absolute;
    right: 3rem;
    top: 10rem;
    color: #fff;
    font-size: 4rem;
    cursor: pointer;
}
/* <!-- start Home --> */
    .home .home-slider .slider{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 9rem;
        gap: 2rem;
    }
    .home .home-slider .slider .content{
        flex: 1 1 45rem;
    }
    .home .home-slider .slider .imgs{
        flex: 1 1 45rem;
    }
    .home .home-slider .slider .imgs img{
        width: 100%;
    }
    .home .home-slider .slider .content span{
        color: var(--grenn);
        font-size: 2.5rem;
    }
    .home .home-slider .slider .content h3{
        color: var(--black);
        font-size: 7rem;
    }
    .home .home-slider .slider .content p{
        color: var(--light-color);
        font-size: 2.2rem;
        padding: .5rem 0;
        line-height: 1.5;
    }
/* <!-- end Home --> */
/* <!-- start dishes --> */
.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
}
.dishes .box-container .box{
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 2.5rem;
    border-radius: .5rem;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border: 1rem solid rgba(0, 0, 0, .2);
}
.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position: absolute;
    top: 1.5rem;
    background-color: #eee;
    color: var(--black);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
} 
.dishes .box-container .box .fa-heart{
    right: -15rem;
}
.dishes .box-container .box .fa-eye{
    left: -15rem;
}
.dishes .box-container .box:hover .fa-heart{
    right: 1.5rem;
}
.dishes .box-container .box:hover .fa-eye{
    left: 1.5rem;
}
.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover{
    background-color: var(--grenn);
    color: #fff;
}
.dishes .box-container .box img{
    height: 17rem;
    margin: 1rem 0;
    width: 300px;
}
.dishes .box-container .box h3{
    color: var(--grenn);
    font-size: 2.5rem;
}
.dishes .box-container .stars i{
    color: var(--grenn);
    font-size: 1.7rem;
}
.dishes .box-container span{
    margin-right: 2rem;
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--grenn);
}
/* <!-- end dishes --> */
/* <!-- start about --> */
.about .about-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.about .about-box .content{
    flex: 1 1 45rem;
}
.about .about-box .image{
    flex: 1 1 45rem;
}
.about .about-box .image img{
    width: 100%;
}
.about .about-box .content h3{
    color: var(--black);
    font-size: 4rem;
    padding: .5rem 0;
}
.about .about-box .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}
.about .about-box .content .icons-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}
.about .about-box .content .icons-container .icons{
    border-radius: .5rem;
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1 1 10rem;
    padding: 1.5rem 1rem;
}
.about .about-box .content .icons-container .icons i{
    font-size: 2.5rem;
    color: var(--grenn);
}
.about .about-box .content .icons-container .icons span{
    color: var(--black);
    font-size: 1.5rem;
}
/* <!-- end about --> */
/* <!-- start menu --> */
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.menu .box-container .box{
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: 1rem solid rgba(0, 0, 0, .2);
}
.menu .box-container .box .image{
    height: 25rem;
    padding: 1.5rem;
    overflow: hidden;
    width: 100%; 
    position: relative;
} 
.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
} 
.menu .box-container .box .fa-heart{
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    background-color: #fff;
    color: var(--black);
    border-radius: 50%;
    width: 5rem;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
} 
.menu .box-container .box .fa-heart:hover{
    background-color: var(--grenn);
    color: #fff;
}
.menu .box-container .content{
    padding: 1rem;
    padding-top: 0;
}
.menu .box-container .box .content .stars{
    padding-bottom: 1rem;
}
.menu .box-container .box .content .stars i{
    color: var(--grenn);
    font-size: 1.7rem;
}
.menu .box-container .box .content h3{
color: var(--black);
font-size: 2.5rem;
}
.menu .box-container .box .content p{
    color: var(--light-color);
    line-height: 1.5;
    font-size: 1.6rem;
    padding: .5rem 0;
}
.menu .box-container .box .content .pice{
    margin-right: 3rem;
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--grenn);
} 
/* <!-- end menu --> */
/* <!-- start review --> */
.review .slide{
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0, 0, 0, .2);
    position: relative;
    border-radius: .5rem;
}
.review .slide .fa-quote-right{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 6rem;
    color: #ccc;
}
.review .slide .uesr{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
}
.review .slide .uesr img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .slide .uesr h3{
    color: var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}
.review .slide .uesr .stars i{
    color: var(--grenn);
    font-size: 1.3rem;
}
.review .slide p{
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
}
/* <!-- end review --> */
/* <!--start order -->  */
.order form{
    max-width: 90rem;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0, 0, 0, .2);
    padding: 1.5rem;
    margin: 0 auto;
}
.order form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.order form .inputBox .input{
    width: 49%;
}
.order form .inputBox .input span{
    font-size: 1.5rem;
    padding: .5rem 0;
    display: block;
    color: var(--light-color);
}
.order form .inputBox .input input,
.order form .inputBox .input textarea{
    background-color: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    width: 100%;
    margin-bottom: 1rem;
    text-transform: none;
}
.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus{
    border: .2rem solid var(--grenn);
}
.order form .inputBox .input textarea{
    height: 20rem;
    resize: none;
}
.order form .btn{
    margin-top: 0;
}
/* <!--end order -->  */
/* start footer */
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}
.footer .box-container .box h3{
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}
.footer .box-container .box a{
    display: block;
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--light-color);
}
.footer .box-container .box a:hover{
    color: var(--grenn);
    text-decoration: underline;
}
.footer .credit{
    text-align: center;
    color: var(--black);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    font-size: 2rem;
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.footer .credit span{
    color: var(--grenn);
}
/* end footer */
.loader-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.loader-container video{
    width: 35rem;
}
.loader-container.fade-out{
    top: 110%;
    opacity: 0;
}





























@media(max-width:768px){
    header .icons #bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        background-color: #fff;
        top: 100%;
        right: 0;
        border-top: .2rem solid rgba(0, 0, 0, .2);
        border-bottom: .2rem solid rgba(0, 0, 0, .2);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        padding: 1rem;
        left: 0;
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100% , 0% 100%);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        background-color: #eee;
        margin: 1rem;
        font-size: 2rem;
    }
    #searh-from #searh-box{
        width: 90%;
        margin: 0 1rem;
    }
    .home .home-slider .slider .content h3{
        font-size: 5rem;
    }
    .dishes .box-container .box img{
        height: auto;
        width: 100%;
    }
    .order form .inputBox .input{
        width: 100%;
        }
} 

@media(max-width:450px){
    header{
        padding: 1rem 2rem;
    }
    html{
        font-size: 55%;
    }
} 

@media(max-width:991px){
    header{
        padding: 1rem 2rem;
    }
    html{
        font-size: 55%;
    }
    /* .dishes .box-container .box img{
        height: auto;
        width: 100%;
    }
    .order form .inputBox .input{
        width: 100%;
    } */
    section{
        padding: 2rem;
    }
} 
